Exercicio 1/Exercicio 1.exe
.vscode/tasks.json
.vscode/launch.json
Vídeo Exercicio 1.mp4
Exercicio 2/Exercicio 2.exe
Exercicio 2/Explicaçao_cod_Exercício_2_parte_1.mp4
Exercicio 2/Explicaçao_cod_Exercício_2_parte_2.mp4
